VITE_APP_NAME=YOUR_APP_NAME
VITE_ROUTER_MODE=YOUR_ROUTER_MODE
VITE_BASE_PATH=YOUR_BASE_PATH
VITE_TMDB_API_KEY=YOUR_TMDB_API_KEY
VITE_TMDB_READ_ACCESS_TOKEN=YOUR_TMDB_READ_ACCESS_TOKEN
VITE_TMDB_BASE_URL=YOUR_TMDB_BASE_URL
VITE_TMDB_IMAGE_BASE_URL=YOUR_TMDB_IMAGE_BASE_URL
